html, body {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 180px;
    box-sizing: border-box;
}
.header{
    text-align: center;
    background-color:#FC427B;
    color: #F8EFBA;
    text-shadow: 2px 2px 5px black;
}

hr{
    width: 100%;
    height: 2px;
    text-align: center;
    margin-left:0
}

.start{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stop{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer-copyright{
    background-color: #D2D1D1;
}